.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.completed {
  background-color: aquamarine;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.expandLink {
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.collapsed {
  display: none;
}